@import url('https://fonts.googleapis.com/css2?family=Assistant:wght@300;400;500;600;700&family=Cookie&family=Roboto&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Grand+Hotel&display=swap');
.tituloInstagram {
    margin-top: 1em;
    font-family: 'Grand Hotel', cursive;
    font-size: 3em;
    text-align: center;
    font-weight: 600;
}

.divOU {
    margin-top: 1em;
    font-size: .88em;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 1em;
    color:  #777070;
}

.divOU div {
    border: 1px solid #e6dede;
    width: 30%;
}

.divAplicativos{
    margin-top: 1em;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
.container{
    display: flex;
    gap: 1em;
    margin-top: .8em;
}
.divItemAplicativos{
    display: flex;
    gap: .45em;
    align-items: center;
    color: white;
    background-color: black;
    padding: 0.4em;
    border-radius: .45em;
}
.semConta{
    display: flex;
    justify-content: center;
    align-items: center;

}
.semConta a {
    text-decoration: none;
    font-size: .8em;
}


.pc img{
    display:none;
}
@media screen and (min-width: 800px){
    .pc img{
        display: block;
    }
    
    .pc{
        margin-top: 5em;
        display: flex;
        justify-content: center;
        align-items: center;
        gap: 2em;
    }
    .border{
        width: 350px;
        border: 1px solid #d2d2d2;
        margin-bottom: .75em;
    }
    .semConta{
        padding: 1em;
        border: 1px solid #d2d2d2;
    }
   

}