.divLinks {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    gap: 0 .5em;
    margin-top: 1em;
}
.divLinks a{
    text-decoration: none;
    color: #737373;
}