.divLinks {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    gap: .25em .5em;
    margin-top: 2em;
    margin-bottom: 2em;
}
.divLinks a{
    font-size: .80em;
    text-decoration: none;
    color: #737373;
}